.body{
      
  padding: 0;
  margin: 0;
}

#about h3 {
  color: #333333;
  font-weight: bold;
}

#about h2 {
  color: #333333;
  font-weight: bold;
}

#about p {
  font-size: 1.1rem; 
  color: #444444;
}

.schedule {
  font-family: sans-serif;
  max-width: 700px;
  margin: 0 auto;
}

.schedule h1 {
  color: #333;
  margin-bottom: 10px;
}

.schedule h2 {
  color: #444;
  margin: 25px 0 15px;
  padding-bottom: 5px;
  border-bottom: 2px solid #eee;
}



.schedule table th {
  padding: 10px 0% ;
  margin: 5px 0;   
  background-color: #8ea604;
}

.schedule td {
  padding: 10px 0% ;
  margin: 5px 0;                  
  background-color: #ebe8e6;
  
}

.special-venue {
  color: #2c5282;
  font-weight: bold;
}


.form-container {
  border: 2px solid #007bff; /* 枠線の色 */
  border-radius: 10px; /* 角丸 */
  padding: 20px; /* 内側の余白 */
  background-color: #ffffff; /* 背景色 */
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); /* シャドウ */
}

.btn-disabled {
  background-color: #d6d6d6; /* 灰色の背景 */
  color: #8a8a8a; /* 灰色の文字 */
  cursor: not-allowed; /* ポインターを無効状態に */
  opacity: 0.65; /* 少し透明に見せる */
}