{% extends "base.html" %}
{% block content %}
<section id="user_login">
    <div class="container my-5">
        <div class="row">
            <div class="col-lg-6 mx-auto">
                <div class="card bg-primary text-center">
                    <div class="card-body text-light">
                        <h3>ログイン</h3>
                        <p>ユーザー情報を入力してください。</p>
                        <form method="POST">
                            {{ form.hidden_tag() }}            
                          
                            
                            <div class="mb-3">
                                {{ render_field(form.email, placeholder="メールアドレス", class="form-control form-control-lg") }}
                            </div>
                            
                            <div class="mb-3">
                                {{ render_field(form.password, placeholder="パスワード", class="form-control form-control-lg") }}
                            </div>                        
                            
                            {{ form.submit(class="btn btn-outline-light w-100") }}
                            
                            <!-- Signupページに行くボタン -->
                            <div class="d-grid mt-3">
                                <a href="{{ url_for('signup') }}" class="btn btn-primary btn-lg">はじめての方はサインアップページ</a>
                            </div>
                           
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}
