{% extends "base.html" %}
{% block title %}videos{% endblock %}
{% block content %}

<header class="bg-light py-3">
    <div class="container text-center">
        <h2>鶯 Boot Camp15</h2>
        <p>バドミントンの練習動画勝手にリンク集</p>        
    </div>
</header>

<main class="container mt-5">
    <section class="video-section">
        <h2>ラケットの握り方</h2>
        <ul>
            <li><a href="https://www.youtube.com/watch?v=hwKrSMJzXyM&t=174s" target="_blank" rel="noopener noreferrer">【持ち替え】初心者の方のよくある悩み⑧【グリップ】</a></li>
            <li><a href="https://www.youtube.com/watch?v=TW4v6E22I-o" target="_blank" rel="noopener noreferrer">初心者必見！グリップの握り方・持ち替え方</a></li>
        </ul>
    </section>
    <section class="video-section">
        <h2>一人でできる練習</h2>
        <ul>
            <li><a href="https://www.youtube.com/watch?v=6OAD8slheYE&t=248s" target="_blank" rel="noopener noreferrer">【自主練】”こっそり” 練習をして強くなろう！【コソ練】</a></li>
            <li><a href="https://www.youtube.com/watch?v=QJx8jHvzqFQ" target="_blank" rel="noopener noreferrer">「素振り」や「壁打ち」以外の上達に必要な力が身につく一人で出来る練習方法【バドミントン】</a></li>
        </ul>
    </section>

    <section class="video-section">
        <h2>シャトル投げ</h2>
        <ul>
            <li><a href="https://www.youtube.com/watch?v=aeYVkD_dc4w" target="_blank" rel="noopener noreferrer">【実は優秀な練習・シャトル投げ】体の使い方、力の入れ方全てわかる</a></li>
            <li><a href="https://www.youtube.com/watch?v=KOqDmhwWJG0" target="_blank" rel="noopener noreferrer">シャトル投げ</a></li>
            <li><a href="https://www.youtube.com/watch?v=bRXk3-RoUc4&t=69s" target="_blank" rel="noopener noreferrer">基礎から積み上げたい人必見！上からのショットが飛ぶようになる秘密の練習法</a></li>
        </ul>
    </section>
    <section class="video-section">
        <h2>ステップ練習</h2>
        <ul>
            <li><a href="https://www.youtube.com/watch?v=ul7IWIyerNo&t=247s" target="_blank" rel="noopener noreferrer">【素早く】初心者の方のよくある悩み⑦【下がりたい！】</a></li>
            <li><a href="https://www.youtube.com/watch?v=5hpwCTSRZj0&t=53s" target="_blank" rel="noopener noreferrer">素早さUP！フットワークが向上するする6つ基本ステップ！</a></li>
        </ul>
    </section>
    
    <section class="video-section">
        <h2>壁打ち</h2>
        <ul>
            <li><a href="https://www.youtube.com/watch?v=03VxIKM7NCg" target="_blank" rel="noopener noreferrer">一人でも出来る上達の方法！これも絶対みるべし!!壁打ちの極意</a></li>
            <li><a href="https://www.youtube.com/watch?v=2FOna0RIkKw" target="_blank" rel="noopener noreferrer">【バドミントン】【ひとり練習】壁打ちマスタースーパーサイレントーバドミントンアカデミー</a></li>
        </ul>
    </section>
    <section class="video-section">
        <h2>クリア</h2>
        <ul>
            <li><a href="https://www.youtube.com/watch?v=oGkNulqsoWg&t=133s" target="_blank" rel="noopener noreferrer">【バドミントン】クリアのコツ！！再び！！</a></li>
            <li><a href="https://www.youtube.com/watch?v=u9tKwP6Rdnk" target="_blank" rel="noopener noreferrer">基礎打ちで上達しよう！「クリアー編」【"質"を意識 】</a></li>
        </ul>
    </section>
    <section class="video-section">
        <h2>ドライブ</h2>
        <ul>
            <li><a href="https://www.youtube.com/watch?v=TFZ5lyCyDEI&t=1s" target="_blank" rel="noopener noreferrer">【バドミントン】ドライブのコツ【バックハンド】</a></li>
            <li><a href="https://www.youtube.com/watch?v=VM2nGYLwzuY" target="_blank" rel="noopener noreferrer">【バドミントン】フォアハンドのドライブのコツ</a></li>
            <li><a href="https://www.youtube.com/watch?v=n0ofEDUoOWA" target="_blank" rel="noopener noreferrer">ドライブが一気に上達する方法が分かりやすすぎた…【北越高校】</a></li>
        </ul>
    </section>
    <section class="video-section">
        <h2>プッシュ&レシーブ</h2>
        <ul>
            <li><a href="https://www.youtube.com/watch?v=z0tofBxmCI8" target="_blank" rel="noopener noreferrer">基礎打ちで上達しよう！「プッシュ＆レシーブ編」【初心者】【バドミントン】</a></li>
            
        </ul>
    </section>
    <section class="video-section">
        <h2>基礎打ち</h2>
        <ul>
            <li><a href="https://www.youtube.com/watch?v=FqChAdNsTI0" target="_blank" rel="noopener noreferrer">【バドミントン】女子選手の基礎打ち大公開！フォームが綺麗！【基礎打ち】</a></li>
            <li><a href="https://www.youtube.com/watch?v=7g_fBlqGLC0" target="_blank" rel="noopener noreferrer">【初心者・ジュニア必見】バドミントン基礎打ちを徹底解説！【永久保存版】</a></li>
            <li><a href="https://www.youtube.com/watch?v=q2btfVraIg0&t=371s" target="_blank" rel="noopener noreferrer">【バドミントン】菊地裕太選手が基礎打ちのやり方を徹底解説！コツ・ポイント【全日本総合ベスト16】</a></li>
            <li><a href="https://www.youtube.com/watch?v=UjpC6fkA8ts&t=428s" target="_blank" rel="noopener noreferrer">半面コートで鍛える！４つのフットワーク強化練習！！</a></li>
            
        </ul>
    </section>
    <section class="video-section">
        <h2>お勧めチャンネル</h2>
        <ul>
            <li><a href="https://www.youtube.com/@kalidia_badminton_channel" target="_blank" rel="noopener noreferrer">KALIDIAバドミントンチャンネル</a></li>
            <li><a href="https://www.youtube.com/@MizukiFujiiBadmintonChannel" target="_blank" rel="noopener noreferrer">Mizuki Fujii Badminton Channel</a></li>
        </ul>
    </section>      
</main>
{% endblock %}